#cargando {
    width: 100vw;
    height: 100vh;
}

#contenedorCards {
    flex-wrap: wrap;
    margin-top: 100px;
}

.card, .cardsmall {
    padding: 15px;
    max-width: 370px;
    min-width: 310px;
    margin: 30px;
    border-radius: 25px;
    background-color: #027353;
    box-shadow: 11px 10px 7px 4px black;
}

.cardsmall {
  max-width: 310px;
}

.contenticon {
  text-align: center;
  font-size: 90px;
}

.imgnew {
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.titles {
    font-size: x-large;
    font-weight: 900;
    word-wrap: break-word;
}


@keyframes botar {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
  
  #pelotabotando {
    animation: botar 0.8s infinite;
    font-size: xxx-large;
  }
  
   .imgubicacion {
      border-radius: 30px;
      object-fit: cover;
      max-width: 280px;
      max-height: 203px;
      min-width: 280px;
      min-height: 203px;
   }

   .imgperfil {
    border-radius: 30px;
    object-fit: cover;
    max-width: 201px;
    max-height: 201px;
    min-height: 201px;
    min-width: 201px;
 }


   .cardusuarios {
      font-size: 20px;
      font-weight: 700;
      padding: 7px 0;
   }