@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

html {
    font-family: 'Montserrat Alternates', sans-serif !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .space-around {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.space-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
  .icons:hover {
    transition: 0.3s;
    cursor: pointer;
    color: #616161;
  }
  
  .bc-sportmeetup {
    background-color: #151826;
    color: #D9D9D9;
  }
  
  .border-conten {
    border-top: solid 2px #F2B705;
    min-height: 86.2vh;
  } 

  #color {
    width: 228px;
    height: 44px;
    padding: 5px;
  }

  .inputText {
    border-radius: 10px !important;
    border: solid 2px #027353 !important;
    color: #151826;
    background-color: #D9D9D9 !important;
  }

  label {
    color: #D9D9D9 !important;
    font-size: 1.2rem;
  }

  input:hover, select:hover {
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 7px #D9D9D9 !important;
  }
  
  input:focus, select:focus {
    border: none !important;
    box-shadow: none !important;
    background-color: #ffffff !important;
    box-shadow: 0px 0px 0px 2px #F2B705 !important;
    cursor: auto;
  }


  input:checked {
    background-color: #027353 !important;
  }

  input:focus:hover, select:focus:hover {
    border: none !important;
    box-shadow: 0px 0px 0px 3px #F2B705 !important;
  }

  .divinput {
    padding: 20px;
    text-align: center;
  }

  .overflow-auto {
    overflow: auto;
    max-height: 85.7vh !important;
  }

  .btn, .btnf {
    transition: 0.3s;
    padding: 10px;
    padding-right: 20px;
    border-radius: 30px;
    font-style: italic;
    color: #024040;
    font-size: x-large;
    font-weight: 900;
    background-color: #F2B705 !important;
    float: right;
    margin: 10px 10px 5px 0px;
}

.btn:hover, .btnf:hover {
    scale: 1.1;
    background-color: #024040 !important;
    color: #F2B705;
    box-shadow: 3px 3px 10px black;
}

.btn:active, .btnf:active { 
  scale: 1;
  box-shadow: 3px 3px 3px black;
}

.btnf {
  color: #F2B705;
  font-size: large;
  border: solid 3px #F2B705;
  background-color: #151826 !important;
}

.btnf:hover {
  background-color: #F2B705 !important;
  color: #151826;
} 

.new {
  margin-left: 20px;
  padding: 10px 15px !important;
}

.cardmain {
  padding: 50px;
  background-color: #027353 !important;
  border-radius: 30px;
}

