@keyframes ocultarnav {
    0% { width: 23vw; }
    100% { width: 0vw; }
}

@keyframes vernav {
    0% { width: 0vw; }
    100% { width: 23vw; }
}

.left-nav {
    background-color: #027353;
    height: 79vh;
    color: #151826;
    text-align: center;
    padding-top: 30px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

#footer {
    overflow: hidden;
    white-space: nowrap;
}

.links {
    padding: 15px;
    font-weight: 600; 
    display: block;
    margin: 7px 0;
}

.links:hover {
    background-color: #02404080;
}

.link-active {
    color: #D9D9D9;
}

.div-active {
    background-color: #02404080;
}


.social-media {
    color: #D9D9D9;
    clear: left;
    background-color: #151826;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7.5vh;
}

.left-nav-common-styles {
    font-size: xx-large;
    width: 23vw;
    float: left;
    border-right: solid 2px #F2B705;
}

.back {
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
    font-size: 37px;
    top: 13px;
    right: 17px;
    border-radius: 50%;
}

.back:hover {
    color: #D9D9D9;
    scale: 1.1;
    box-shadow: 0px 0px 10px black;
}