.border-publicaciones {
    transition: 0.3s;
    border-top: solid 2px #F2B705;
    border-bottom: solid 2px #F2B705;
    cursor: pointer;
} 

.border-publicaciones:hover {
    background-color: #3f3f3f;
}

.title-publicacion {
    font-size: x-large;
    font-style: italic;
    color: #F2B705;
    font-weight: 600;
}

.text-publicacion {
    text-indent: 10px;
    font-size: medium;
    color: #D9D9D9;
    font-style: normal;
    font-weight:300;
}

.content-niveles {
    display: flex;
    align-items: end;
}

.levels {
    margin-left: 5px;
    margin-top: 10px;
    width: 10px;
    background-color: antiquewhite;
}

.principiante {
    height: 20px;
    background-color: #027353 !important;
}

.intermedio {
    height: 40px;
    background-color: #F2B705  !important;
}

.profesional {
    height: 60px;
    background-color: #F23005 !important;
}

.btnspublicacion {
    float: none;
    font-size: 19px !important;
    margin: 30px 20px;
}

#formfiltro {
    display: none;
}

#contentFiltros {
    flex-wrap: wrap;
}

#activefilters {
    margin: 30px;
}

.iconosDeportes {
    font-size: 75px; 
    float:left;
    margin: 0 25px 0 10%;
    -webkit-text-stroke: 3px #1f1f1f;

}

#tablaPublicaciones {
    width: 100%; 
}

.tdpublicaciones {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.iconoapuntarse {
    margin-right: 3.5vw;
}

.selectFiltro {
    margin: 10px !important;
}

.selectFiltro, .selectFiltro > option{
        margin: 0 10px;
        padding: 5px 7px;
        display: flex;
        align-items: center;
        font-weight: bolder;
        font-size: 1.15rem;
        width: max-content;
        color: #024040 !important ;
        border-radius: 30px ;
        background-color: #F2B705 !important;
        text-align: center;
}

.selectFiltro:hover, .selectFiltro:hover > option {
    background-color: #024040 !important;
    color: #F2B705 !important;
}

.labelcheck {
    padding: 0 20px !important;
    cursor: pointer;
    border-radius: 5px;
}

.labelcheck:hover {
    background-color: #3f3f3f !important;
}

.active {
    background-color: #027353 !important;
    color: #D9D9D9 !important;

}

#selctUbicaciones, #selctDeportes, #selctDestreza { 
    position: relative;
}
      
#contentUbicaciones, #contentDeportes, #contentDestrezas {
    z-index: 1;
    position:absolute; 
    background-color: grey;
    border-radius: 10px;
    top: 50px;
    text-overflow: ellipsis;
    transform: scaleY(0);
    transform-origin: center top;
    transition: transform 0.3s ease;
    white-space: nowrap;
}

.jugadores {
    font-size: large;
    font-weight: 500;
}

@media (max-width: 750px) {
    .fa-plus {
        font-size: 40px !important;
    }
    .iconoapuntarse {
        margin-right: auto;
        margin-left: 10px;
    }
}

@media (max-width: 720px) { 
    .title-publicacion {
        font-size: 20px;
    }
    .fa-plus {
        font-size: 30px !important;
        margin-right: 2vw;
    }
    .iconosDeportes { 
        margin: 0 15px 0 5%;
    }
    .contentnivel {
        transform: scale(0.8);
    }
    .text-publicacion {
        font-size: 14px;
        text-indent: 0;
    }
}

@media (max-width: 560px) {
    .contentnivel {
        transform: scale(0.7);
    }
    .fa-plus {
        font-size: 27px !important;
    }
    .jugadores {
        padding-right: 10px !important;
        font-size: 13px;
        text
    }
    .btnspublicacion, #activefilters {
        text-align: center;
    }
}